<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemeColor</key>
	<string>#7bad35</string>
	<key>StatusBarDefaultLight</key>
	<true/>
	<key>LKNavBar</key>
	<dict>
		<key>DefaultBackgroundColor</key>
		<string>#7bad35</string>
		<key>DefaultRendColor</key>
		<string>#ffffff</string>
	</dict>
</dict>
</plist>
